/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, th, td, figure {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

fieldset, img {
  border: none;
}

input, button, textarea, select, optgroup, option {
  font: inherit;
}

input {
  text-align: inherit;
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

html {
  font-family: sans-serif;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  background-color: #fff;
  font: 14px/2 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
  color: #333;
}

:focus {
  outline: none;
}

:link,
:visited {
  text-decoration: none;
}

a {
  outline: 0;
}
a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}
/* reset end */
html,body {
  overflow: hidden;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.hide {
  display: none!important;
}